.button_container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.button_container button {
    background-color: white;
    border: 1px solid #d6d6d6;
    color: #606060;
    cursor: pointer;
    height: 31px;
    transition-duration: 100ms;
    width: 98px;
}

.button_container button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.button_container button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.button_container button.active {
    border: 1px solid #1797ff;
    color: #1797ff;
}