.container {
    margin-top: 68px;
    max-width: 240px;
    position: relative;
}

.field {
    align-items: center;
    border: solid 1px #2e2e2e;
    border-radius: 4px;
    display: flex;
    height: 32px;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
}

.field:hover {
    cursor: pointer;
}

.text {
    flex: 1 1 auto;
}

.icon {
    transition-duration: 300ms;
    width: 10px;
}

.show_icon {
    transform: rotateZ(180deg);
    transform-origin: center;
}

.item_container {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 #dad8d8;
    display: none;
    height: fit-content;
    left: 0;
    list-style-type: none;
    transition-duration: 300ms;
    margin-top: 25px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.show_item {
    display: block;
    margin-top: 35px;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}

.item {
    align-items: center;
    color: #343434;
    cursor: default;
    display: flex;
    font-size: 14px;
    min-height: 46px;
    padding-left: 10px;
}

.item:hover {
    background-color: rgba(234, 234, 234, 0.2);
    cursor: pointer;
}

.item img {
    height: 24px;
    margin-right: 13px;
    width: 24px;
}