.item_container {
  border: 1px solid rgb(151, 151, 151, 0.8);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  max-height: 90px;
  max-width: 550px;
  transition-duration: 100ms;
}

.item_container:hover {
  opacity: 0.5;
}

.time_container {
  display: flex;
  align-items: center;
}

.timeIcon {
  height: 16px;
  margin-right: 8px;
  width: 16px;
}

.item_container a,
.skeleton_anchor {
  text-decoration: none;
  color: #606060;
  width: 100%;
  padding: 16px 16px 14px 26px;
}

.item_container span {
  color: #767676;
  font-size: 11px;
}

.item_container h2 {
  font-size: 14px;
  max-height: 34px;
  overflow: hidden;
}

.heart_button {
  background-color: rgba(96, 96, 96, 0.06);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 68px;
}

.heart_button img:hover {
  cursor: pointer;
}

.heart_skeleton img{
  filter: grayscale(100%);
  opacity: 0.5;
}

.skeleton_box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeleton_box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
